# Build outputs
build/
bin/

# Visual Studio
.vs/
.cache/
*.VC.db
*.VC.opendb

# Project-specific generated folders
TestSrcProject/build
TestSrcProject/RTLRegistration

# Tool configs (only if local)
TestSrcProject/.clang-tidy
